:root {
  font-size: 62.5%; }

*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

body {
  box-sizing: border-box;
  font-family: 'Questrial', sans-serif;
  background-image: linear-gradient(to top, #f8f9fa 0%, #e9ecef 52%, #dee2e6 100%); }

.wrapper {
  margin: auto;
  padding: 2rem 2rem;
  overflow: hidden; }

.burger-btn {
  width: 6rem;
  height: 6rem;
  padding: 0.33rem;
  background-color: #343a40;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  z-index: 200;
  cursor: pointer;
  transition: all 0.3s linear; }
  .burger-btn:hover {
    background-color: #212529; }
  .burger-btn__item {
    width: 75%;
    height: 0.5rem;
    top: 0;
    left: 0;
    background-color: #e9ecef;
    border-radius: 2px;
    position: relative;
    transition: all 0.3s linear; }
    .burger-btn__item::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: -1.2rem;
      left: 0;
      background-color: #e9ecef;
      border-radius: 2px;
      transition: all 0.3s linear; }
    .burger-btn__item::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 1.2rem;
      left: 0;
      border-radius: 2px;
      background-color: #e9ecef;
      transition: all 0.3s linear; }
  .burger-btn__item--trans {
    background-color: transparent;
    transition: all 0.3s linear; }
    .burger-btn__item--trans::after {
      top: 0;
      left: 0;
      transform: translate(0) rotate(-135deg); }
    .burger-btn__item--trans::before {
      top: 0;
      left: 0;
      transform: translate(0) rotate(135deg); }

.header {
  font-size: 2rem;
  padding: 4rem;
  text-align: center;
  transform: translateY(-20rem);
  opacity: 0;
  animation: header-in 0.5s ease-in-out 0s 1 forwards; }
  .header__primary {
    padding: 2rem 0; }
  .header__moving {
    display: inline-block;
    min-width: 10rem;
    background-color: #495057;
    color: #f8f9fa;
    padding: 1px 2px;
    opacity: 0;
    animation: slide-up 1s ease-in-out 0s 1 forwards; }
  .form {
    max-width: 40%;
    margin: auto; }
    .form__input {
      position: relative; }
      .form__submit {
        position: absolute;
        right: 0.9px;
        top: 1px;
        font-size: 1.9rem;
        height: 95%;
        width: 10rem;
        border-radius: 3rem;
        border: none;
        background-color: #495057;
        color: #f8f9fa;
        cursor: pointer;
        transition: all 0.3s linear; }
        .form__submit:active, .form__submit:hover {
          background-color: #212529; }
        .form__submit:focus {
          outline: none; }
      #tag {
        width: 100%;
        font-size: 1.6rem;
        padding: 0.75rem;
        border-radius: 3rem;
        background-color: #f8f9fa;
        border: 1px solid #6c757d;
        transition: all 0.3s ease-in-out; }
        #tag:focus {
          outline: none;
          box-shadow: 1px 1.5rem 3rem 1px rgba(172, 172, 172, 0.3); }
  .tags {
    padding: 2rem 0;
    min-height: 8rem; }
    .tags__item {
      display: inline-block;
      background-color: #e9ecef;
      border: 1px solid #343a40;
      color: #212529;
      border-radius: 3rem;
      padding: 1rem 1rem;
      margin: 0.5rem 0.5rem;
      position: relative;
      transition: all 0.3s ease-in-out; }
      .tags__item:hover .tags__cross {
        opacity: 1; }
    .tags__text {
      margin-right: 3.5rem; }
    .tags__cross {
      font-size: 1.6rem;
      color: #343a40;
      padding: 0.7rem;
      position: absolute;
      border: 1px solid #343a40;
      background-color: transparent;
      width: 3rem;
      height: 3rem;
      margin-right: 0.5rem;
      border-radius: 50%;
      font-weight: 600;
      cursor: pointer;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
      transition: all 0.2s ease-in-out; }
      .tags__cross:hover {
        background-color: #343a40;
        color: #e9ecef; }

.quote {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  transition: all 3s linear; }
  .quote__text--loader::after {
    content: '';
    width: 0px;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    box-shadow: 0 0 15rem 5rem #e9ecef;
    animation: shadow-shift 1s linear infinite; }
  .quote__btn {
    display: inline-block;
    position: absolute;
    z-index: 400;
    background-color: #343a40;
    left: 1rem;
    top: 1rem;
    padding: 1.5rem;
    text-align: center;
    border-radius: 3rem;
    font-size: 2rem;
    color: #e9ecef;
    transition: all 0.3s linear; }
    .quote__btn > i {
      transition: all 0.3s linear; }
    .quote__btn:hover {
      cursor: pointer;
      background-color: #212529;
      color: #f8f9fa; }
      .quote__btn:hover > i {
        transform: rotate(180deg); }
  .quote__box {
    position: absolute;
    color: #f8f9fa;
    left: 5rem;
    min-width: 50%;
    max-width: 70%;
    min-height: 20%;
    padding: 3rem 3rem;
    font-size: 2.2rem;
    background-color: #343a40;
    border: 1px solid #495057;
    z-index: 1;
    border-radius: 3rem;
    transform: skewX(15deg) translateX(1rem);
    text-align: center;
    overflow: hidden; }
    .quote__box p, .quote__box small {
      display: inline-block;
      padding: 0.5rem;
      color: #f8f9fa;
      transform: skewX(-15deg);
      opacity: 0.5;
      animation: reveal 1s ease-in-out 1 forwards; }
  .quote__text--red {
    color: red !important;
    background-color: #dee2e6 !important; }
  .image-wrapper {
    min-width: 30rem;
    min-height: 20rem;
    transform: skewX(-20deg) translateX(20%);
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 3rem; }
    .image-wrapper__error {
      min-width: 90rem;
      min-height: 70rem;
      font-size: 2rem;
      padding: 3rem;
      position: relative;
      transform: skewX(20deg) translateX(-20%);
      border-radius: 3rem;
      background-color: #343a40;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      text-align: center; }
  .quote__img {
    max-width: 85%;
    transform: skewX(20deg) translateX(-20%);
    border-radius: 3rem;
    opacity: 0.5;
    animation: reveal 0.5s ease-in-out 1 forwards; }
  .quote__loader {
    min-width: 90rem;
    min-height: 70rem;
    position: relative;
    transform: skewX(20deg) translateX(-20%);
    border-radius: 3rem;
    background-color: #343a40;
    overflow: hidden; }
    .quote__loader::after {
      content: '';
      width: 0px;
      height: 100%;
      position: absolute;
      left: 20%;
      box-shadow: 0 0 15rem 5rem #e9ecef;
      animation: shadow-shift 1s linear infinite; }
  .quote::before {
    content: ',,';
    font-size: 30rem;
    font-weight: 700;
    color: transparent;
    display: inline-block;
    -webkit-text-stroke: 2px #495057;
    font-family: serif;
    top: 0;
    left: 0;
    transform: translate(5rem, -13rem) scale(-1, 1);
    position: absolute;
    letter-spacing: -10px;
    background-color: transparent;
    text-align: center;
    border-radius: 50%; }
  .quote__tag {
    display: inline-block;
    position: absolute;
    background-color: #ced4da;
    padding: 2.5rem 2rem 2.5rem 5rem;
    border-radius: 4rem;
    color: #343a40;
    top: 0rem;
    left: 0rem;
    min-width: 45rem;
    font-size: 2rem;
    text-align: center; }
    .quote__tag span {
      font-weight: 700; }

.footer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 1.5rem;
  background-color: #dee2e6; }
  .footer__attribution {
    padding: 0 10rem; }

@keyframes header-in {
  to {
    transform: translateY(0rem);
    opacity: 1; } }

@keyframes header-out {
  from {
    transform: translateY(0rem);
    opacity: 1; }
  to {
    transform: translateY(-20rem);
    opacity: 0; } }

@keyframes shift-up {
  100% {
    transform: translateY(-25%); } }

@keyframes shift-down {
  0% {
    transform: translateY(-25%); }
  100% {
    transform: translateY(0); } }

@keyframes shadow-shift {
  50% {
    transform: translateX(100rem); } }

@keyframes reveal {
  to {
    opacity: 1; } }

@keyframes slide-up {
  to {
    opacity: 1; } }

@media (max-width: 600px) {
  :root {
    font-size: 40%; }
  .wrapper {
    min-height: 100vh; }
  .form {
    max-width: 80%; }
  .quote {
    flex-direction: column;
    margin-top: 2rem; }
    .quote__btn {
      top: -5rem;
      padding: 1.5rem; }
    .quote__tag {
      top: -6rem;
      padding: 2.5rem 2rem 2.5rem 6rem; }
    .quote__img {
      max-width: 160%; }
    .quote__box {
      max-width: 90vw;
      left: 0;
      top: 80%; }
    .quote__loader {
      min-width: 95vw; }
    .quote::before {
      display: none; } }
